CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
temp.*
.DS_Store
compile_commands.json
/.clangd
/bin
/temp
/.cache
/examples/bin
/out
/\.vs/cfltk/FileContentIndex
/\.vs/cfltk/v17
.*\.sqlite
/build
